:root {
    font-size: 1.5rem;
    color: #222;
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.5;
}
html {
    background-color: #F2F2F2;
    font-family: 'Roboto Condensed';
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
} 
.tariff {
    background-color: #FFFFFF;
    border: 1px solid #c8c7cc;
    width: 100%;
    margin-bottom: 30px;
}
.tariff .top {
    margin-left: 20px;
    padding: 10px 0;
    border-bottom: 1px solid #c8c7cc;
}
.tariff .top .title {
    color: #6fb316;
    font-size: 1.1rem;
}
.tariff .content_link {
    display: block;
    position: relative;
    height: 100%
}
.tariff .content_link::after {
    display: block;
    position: absolute;
    content: ' ';
    background-image: url('/assets/right-arrow.svg');
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    left: 100%;
    margin-left: -40px;
    top: 50%;
    margin-top: -12px;
}
.tariff .content .speed {
    display: inline-flex;
    color: #fff;
    font-weight: bold;
    margin-top: 12px;
    padding: 5px 10px 5px 20px;
}
.tariff .content .speed .speed_count {
    margin-right: 7px;
}
.tariff .content .price {
    color: #4d575d;
    padding: 5px 10px 5px 20px;
}
.tariff .content .package {
    font-size: 0.8rem;
    color: #4d575d;
    padding: 5px 10px 5px 20px;
}
.tariff .content .package_list {
    line-height: 1.3;
}

.tariff .bottom {
    margin-left: 20px;
    padding: 15px 0;
    border-top: 1px solid #c8c7cc;
}
.tariff .bottom a {
    color: #007aff;
    font-size: 0.8rem;
}


/* Background colors */
.bg-brown {
    background-color: #70603e;
}
.bg-blue {
    background-color: #0075d9;
}
.bg-orange {
    background-color: #EE4700;
}
/* --- */

/* Media queries */
@media only screen and (min-width: 640px) and (max-width: 1023px) {
    .container {
        padding: 25px;
    }
    .tariff {
        width: 49%;
        margin-bottom: 7px;
        box-shadow: 0 .25rem .25rem 0 rgba(0,0,0,.2);
    }
    .tariff .content {
        height: 200px;
    }
}
@media only screen and (min-width: 1024px) {
    .container {
        padding: 50px;
    }
    .tariff {
        width: 32%;
        box-shadow: 0 .25rem .25rem 0 rgba(0,0,0,.2);
    }
    .tariff .content {
        height: 200px;
    }
}
/* --- */


/* --- VARIANTS STYLES ---*/

.variants_container header {
    position: relative;
    width: 100%;
    margin-bottom: 50px;
    border: 1px solid #c8c7cc;
    cursor: pointer;
}
.variants_container header:hover {
    opacity: 0.8;
}
.variants_container header:active {
    opacity: 1;
}
.variants_container header::before {
    display: block;
    position: absolute;
    content: ' ';

    background-image: url('/assets/left-arrow-green.svg');
    background-size: 30px 30px;

    height: 30px;
    width: 30px;
    right: 100%;
    margin-right: -40px;
    top: 45%;
    margin-top: -12px;
}

.variants_container header h2 {
    display: block;
    padding: 10px 0;

    text-align: center;
    font-size: 1rem;
    font-weight: 600;

    background-color: #fff;
}

.tariff.variants .content {
    padding-bottom: 10px;
}
.tariff.variants .content_link::after {
    top: 60%;
}

.tariff.variants .price {
    font-weight: 600;
}

/* ---------------------- */

/* Media queries */
@media only screen and (min-width: 640px) and (max-width: 1023px) {
    .variants_container {
        padding-top: 100px;
    }
    .variants_container > header {
        position: fixed;
        top: 0;
    }
    .variants .content {
        height: 140px;
    }
}
@media only screen and (min-width: 1024px) {
    .variants_container {
        padding-top: 100px;
    }
    .variants_container > header {
        position: fixed;
        top: 0;
    }
    .variants .content {
        height: 140px;
    }
}
/* --- */

/* --- PARAMETERS STYLES ---*/

.tariff .content .period {
    font-size: 0.8rem;
    color: #4d575d;
    opacity: 0.6;
    padding: 5px 10px 5px 20px;
}
.tariff .content .period_list {
    line-height: 1.3;
}
.parameters_container .bottom {
    padding-right: 20px;
}
.parameters_container .bottom_button {
    display: block;
    width: 100%;
    height: 65px;
    cursor: pointer;

    font-size: 1rem;
    color: #fff;
    text-align: center;
    background-color: #6fb316;
} 
.parameters_container .bottom_button:hover {
    opacity: 0.9;
}

/* ------------------------ */

/* Media queries */
@media only screen and (min-width: 640px) and (max-width: 1023px) {
    .parameters_container {
        padding-top: 100px;
    }
    .tariff.parameters {
        width: 65%;
    }
    .parameters .content {
        height: unset;
    }
}
@media only screen and (min-width: 1024px) {
    .parameters_container {
        padding-top: 100px;
    }
    .tariff.parameters {
        width: 65%;
    }
    .parameters .content {
        height: unset;
    }
}
/* --- */