/*
html * {
    font-family: 'Roboto Condensed';
}
*/
html {
    background-color: #F2F2F2;
}

body {
    color: #222;
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.5;
    cursor: auto;
}

.tariff {
    display: flex;
    flex-direction: column;

    background-color: #FFFFFF;
    border: 1px solid #c8c7cc;
    font-size: 25px;
    margin-bottom: 30px;
}
.tariff .top {
    margin-left: 20px;
    padding: 10px 0;
    border-bottom: 1px solid #c8c7cc;
}
.tariff .top .title {
    color: #6fb316;
}
.tariff .content_link {
    display: block;
    position: relative;
}
.tariff .content_link::after {
    display: block;
    position: absolute;
    content: ' ';
    background-image: url('/assets/right-arrow.svg');
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    left: 100%;
    margin-left: -40px;
    top: 50%;
    margin-top: -12px;
}
.tariff .content .speed {
    display: inline-flex;
    color: #fff;
    font-weight: bold;
    margin-top: 12px;
    padding: 5px 10px 5px 20px;
}
.tariff .content .speed .speed_count {
    margin-right: 7px;
}
.tariff .content .price {
    color: #4d575d;
    padding: 5px 10px 5px 20px;
}
.tariff .content .package {
    font-size: 20px;
    color: #4d575d;
    padding: 5px 10px 5px 20px;
}

.tariff .bottom {
    margin-left: 20px;
    padding: 15px 0;
    border-top: 1px solid #c8c7cc;
}
.tariff .bottom a {
    color: #007aff;
    font-size: 20px;
}



.bg-brown {
    background-color: #70603e;
}
.bg-blue {
    background-color: #0075d9;
}
.bg-orange {
    background-color: #EE4700;
}